global
    maxconn 2048

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend fe_http
    bind *:80
    default_backend be_basilisk

backend be_basilisk
    balance roundrobin
    option httpchk GET /bench/ping
    http-check expect status 200
    server basilisk basilisk:8084 check
